.Project {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    min-height: 0;
    gap: var(--g-spacing-6);
}

.Project-ListPanel,
.Project-DetailsPanel {
    display: flex;
    overflow-y: auto;
}
.Project-ListPanel {
    flex: 1;
    padding: var(--g-spacing-1);
}
.Project-DetailsPanel {
    flex: 2;
    border-radius: var(--sb-border-radius-3-xl);
    background-color: var(--g-color-base-generic);
    padding: var(--g-spacing-6);
}
