.FormattedText-Code {
    font-family: var(--g-font-family-monospace);
    color: var(--g-color-text-misc-heavy);

    background-color: var(--g-color-base-misc-light);
    padding: var(--g-spacing-half) var(--g-spacing-1);
    border-radius: var(--g-border-radius-s);
    margin: 0 var(--g-spacing-half);

    word-break: break-word;
}

.FormattedText p {
    margin: 0;
    padding: 0;
}

.FormattedText-CodeBlock {
    display: flex;
    flex-flow: column;
}

.FormattedText-CodeBlock > button {
    align-self: flex-end;
    margin-bottom: -30px;
}

.FormattedText table {
    border-collapse: collapse;
    margin: var(--g-spacing-1) 0;
    background-color: var(--g-color-base-generic);
}

.FormattedText tbody {
    border-collapse: collapse;
    margin: var(--g-spacing-1) 0;
    background-color: var(--g-color-base-background);
}

.FormattedText th, td {
    padding: var(--g-spacing-2);
    border: 1px solid var(--g-color-line-generic);
}

.FormattedText tr:hover {
    transition: background-color 0.3s;
}
.FormattedText tr:hover {
    background-color: var(--g-color-base-simple-hover);
}
